@inherits LayoutComponentBase

<PageTitle>Medbase Admin</PageTitle>
<nav class="navbar nav-pills sticky-top" style="background-color:#6397ff">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/admin">Medbase Admin</a>
    <a class="nav-link" href="/admin">
        Home
    </a>
    <a class="nav-link" href="/admin/courses">
        Courses
    </a>
    <a class="nav-link" href="/admin/topics">
        Topics
    </a>
    <a class="nav-link" href="/admin/questions">
        Questions
    </a>
    <a class="nav-link" href="/admin/articles">
        Articles
    </a>
    <a class="nav-link" href="/admin/subscriptions">
        Subscriptions
    </a>
    <a class="nav-link" href="/">
        Go To Medbase
    </a>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid p-5">
                <div class="row">
                    @Body
                </div>
            </div>
        </main>
    </div>
</div>
