@inherits LayoutComponentBase

<PageTitle>Medbase Admin</PageTitle>

<div class="top-row px-4 auth">
    <NavLink class="nav-link" href="/admin" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="home" class="align-text-bottom"></span>
        Home
    </NavLink>
    <NavLink class="nav-link" href="/admin/courses" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="home" class="align-text-bottom"></span>
        Courses
    </NavLink>
    <NavLink class="nav-link" href="/admin/topics" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="file" class="align-text-bottom"></span>
        Topics
    </NavLink>
    <NavLink class="nav-link" href="/admin/questions" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="users" class="align-text-bottom"></span>
        Questions
    </NavLink>
    <NavLink class="nav-link" href="/admin/articles" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="users" class="align-text-bottom"></span>
        Articles
    </NavLink>
    <NavLink class="nav-link" href="/admin/subscriptions" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="users" class="align-text-bottom"></span>
        Subscriptions
    </NavLink>
    <NavLink class="nav-link" href="/home/index" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
        <span data-feather="users" class="align-text-bottom"></span>
        Go To Medbase
    </NavLink>
</div>