@page "/admin/courses/edit/{id:int}"
@page "/admin/courses/add"
@layout AdminLayout
@inject IApiRepository repository

<style>
    div.validation-message { color: rgb(220, 53, 69); font-weight: 500 }
</style>

<EditForm Model="Course" OnValidSubmit="SaveChanges">
    <DataAnnotationsValidator />
    <MudTextField Label="Course Reference" For="@(() => Course.CourseRef)" @bind-Value="Course.CourseRef" />
    <MudTextField Label="Title" For="@(() => Course.Title)" @bind-Value="Course.Title" />
    <MudTextField Label="Description" For="@(() => Course.Description)" @bind-Value="Course.Description" />
    <MudTextField Label="Image Url" For="@(() => Course.ImageURL)" @bind-Value="Course.ImageURL" />
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code{
    public Course Course { get; set; } = new();

    [Parameter]
    public int id { get; set; } = 0;
    [Inject]
    public NavigationManager NavManager { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (id != 0)
        {
            Course = await repository.GetCourse(id) ?? new();
        }
    }


    private void SaveChanges()
    {
        if (id == 0)
        {
            repository.PostCourse(Course);
        }
        else
        {
            repository.UpdateCourse(id, Course);
        }
        NavManager.NavigateTo("/admin/courses");
    }
}