@page "/changelog"

<PageTitle>Medbase | Change Log</PageTitle>

<div class="container">
    <div class="justify-content-center align-content-center">
        <h2 class="fw-bold">Version 1.0.4</h2>
        <h3 class="text-muted">Release Date: 14 February 2023</h3>
        <ul>
            <li>
                Bug fixes and improvements
            </li>
        </ul>
    </div>
</div>

@code {

}
