@page "/gamma"

<div style="position: absolute; left: 0; right:0;">
    
<iframe src="https://gamma.app/embed/q253pqn5tmwl1i8" 
        style="width: 100%; height: 100%" 
        allow="fullscreen" 
        title="UZ-MEDSCHOOL"></iframe>
</div>


@code{

}