@page "/premium"
@using MedbaseBlazor.Services;

<PageTitle>Premium</PageTitle>

<div class="container">
    <header>
        <div class="container px-5 mt-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-9 col-xl-8 col-xxl-7">

                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <h1 class="display-4 fw-normal">Premium</h1>
                        <p class="fs-5 text-muted">
                            Who likes Ads? No one.
                            <br />But we have to have a way to keep the lights on around here. <br />
                            If you want an Ad-free experience everywhere &<br />If you like Medbase, please do consider upgrading to one of our premium plans
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-5 text-center">
                    <div class="my-5 text-center text-xl-start">
                        <img class="img-fluid rounded-3 my-5" src="img/support_us.svg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">RTGS$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 Download on mobile app</li>
                            <li>2 Custom quiz questions</li>
                            <li>Help center access</li>
                        </ul>
                        <a href="/" class="w-100 btn btn-lg btn-outline-primary">Continue with Free version</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Weekly</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">RTGS$@(Constants.WeeklyAmount())<small class="text-muted fw-light">/week</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>No Ads, at all</li>
                            <li>Download questions</li>
                            <li>Access to all questions</li>
                            <li>Create custom quizzes</li>
                        </ul>
                        <a href="https://www.paynow.co.zw/Payment/BillPaymentLink/?q=aWQ9MTU0ODgmYW1vdW50PTEwMDAuMDAmYW1vdW50X3F1YW50aXR5PTAuMDAmbD0x" class="w-100 btn btn-lg btn-primary">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Monthly</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">RTGS$@(Constants.MonthlyAmount())<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Everything in weekly</li>
                            <li>Better value</li>
                            <li>Month-long subscription</li>
                        </ul>
                        <a href="https://www.paynow.co.zw/Payment/BillPaymentLink/?q=aWQ9MTU2MzYmYW1vdW50PTIyMDAuMDAmYW1vdW50X3F1YW50aXR5PTAuMDAmbD0x" class="w-100 btn btn-lg btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@code {

}
