<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="MedbaseBlazor.styles.css" rel="stylesheet" />

    <link href="_content/MedbaseComponents/wwwroot/css/mdstyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/MedbaseComponents/wwwroot/css/common.css" />

    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
    <link href="css/site.css" rel="stylesheet" />

    <!--WhatsApp Metas-->
    <meta property="og:site_name" content="Medbase">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y4VCBPZ99H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y4VCBPZ99H');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <meta name="theme-color" content="#80b0fa">

    <!--Mudblazor References-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor.Markdown/MudBlazor.Markdown.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <!--Google Ads Line-->
    <script data-ad-client="ca-pub-7010150994074481" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" rel="stylesheet" />

    <script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js"></script>
    <script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/MudBlazor.Markdown/MudBlazor.Markdown.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/app.js"></script>
    <script src="js/keyboardShortcuts.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
</body>
</html>
