<div class="align-content-center">
    <MudAlert Severity="Severity.Info" Icon="@Icons.Material.Filled.Info">
        No questions found for this topic.
    </MudAlert>
    <MudLink OnClick="() => ReloadPage.InvokeAsync()" Typo="Typo.h6">Let's try that again</MudLink>
</div>

@code {
    [Parameter]
    public EventCallback<string> ReloadPage { get; set; }
}
